<nav class="navbar navbar-dark bg-primary">
  <div class="container-fluid">
    <div class="d-flex align-items-center">
      <button type="button" class="btn" (click)="handleRoute('home')">
        <fa-icon [icon]="faHomeUser"></fa-icon>
      </button>

      <button type="button" class="btn fw-bold" (click)="handleRoute('user')">
        User
      </button>

      <button type="button" class="btn fw-bold" (click)="handleRoute('admin')">
        Admin
      </button>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
