<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th class="text-center" scope="col">Name</th>
        <th class="text-center" scope="col">Email</th>
        <th class="text-center" scope="col">Phone</th>
        <th class="text-center" scope="col">Date of Purchase</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let bike of bikeDetailsList; index as i"
        (click)="viewDetails(bike)"
        class="bike-row"
      >
        <td class="text-center">{{ bike.name }}</td>
        <td class="text-center">{{ bike.email }}</td>
        <td class="text-center">{{ bike.phone }}</td>
        <td class="text-center">{{ bike.purchaseDate }}</td>
      </tr>
    </tbody>
  </table>
</div>
